logs
*.log

node_modules/

.env
backend/.env

backend/slack.db


*.tsbuildinfo

dist
backend/dist
frontend/dist


.cache
.parcel-cache

coverage
*.lcov
.nyc_output
.DS_Store


backend/slack.db

.dist
.history/
